<div class="login-form">

	<div class="navbar">
		<a href="#/login">
			Login
		</a>
		<a href="#/register">
			Register
		</a>
	</div>

	<form>
		<div>			
			<input ng-model="loginEmail" size="30" placeholder="Email">		
			<label class="error" ng-show="emailError">{{emailError}}</label>
		</div>
		<div>
			<input ng-model="loginPassword" size="30" placeholder="Password" type="password">		
			<label class="error" ng-show="passwordError">{{passwordError}}</label>
		</div>		
		<p ng-show="loginErrorMessage" class="error">{{loginErrorMessage}}</p>

		<input type="button" class="btn-a" ng-click="login()" value="Sign In">				
	</form>

</div>